HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# .gitignore
.amplify/
.bash_history
.cache/
.condarc
.config/
.continue/
.continuum/
.cursor/
.docker/
.dotnet/
.eclipse/
.ipynb_checkpoints/
.ipython/
.jdks/
.jupyter/
.lemminx/
.lesshst
.m2/
.micromamba/
.netrc
.node_repl_history
.nuget/
.ollama/
.p2/
.sts4/
.tooling/
.vscode/
AppData/
Contacts/
Desktop/
Django Project/
AD_Port/
Bandicam/
Camellia.docx
Dell/
IISExpress/
My Web Sites/
OneNote Notebooks/
Pro-face/
TEST_HTML.txt
TEST_HTML1.HTML
TEST_HTML1.txt
Visual Studio 2022/
desktop.ini
science_class/
supermart-DB-Backup/
.metadata/
merchant-boot-app/
Downloads/
Favorites/
IdeaProjects/
IntelGraphicsProfiles/
todolist.sql
where/
